*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/emoji/build
.DS_Store
/build
/captures
.externalNativeBuild
emoji/build/generated/ap_generated_sources/
emoji/build/generated/res/
emoji/build/intermediates/data_binding_layout_info_type_package/
emoji/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/
emoji/build/intermediates/incremental/packageDebugResources/merged.dir/
emoji/build/intermediates/incremental/packageDebugResources/stripped.dir/
emoji/build/intermediates/library_assets/
emoji/build/intermediates/library_jni/
emoji/build/intermediates/merged_jni_libs/
emoji/build/intermediates/merged_native_libs/
emoji/build/intermediates/merged_shaders/
emoji/build/intermediates/public_res/
emoji/build/tmp/
